/* HEADER */
#title{
    height: 50px;
}

h1{
    color: rgb(41, 177, 221);
}

#optns-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgb(41, 177, 221);
    color: white;
}

#optns-box:first-child{
    height: 25px;
}

#optns{
    margin-left: 20px;
    height: 25px;
}

/* MAIN */
#icon-box{
    background-color: rgb(221, 221, 221);
    height: calc(100vh - 110px);
}

.row{
    flex-wrap: wrap;
}

.fonts{
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 100px;
    width: 100px;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);;
}

.icons i{
    margin-top: 1rem;
    font-size: 35px;
}